/* *************** */
/*     Editor      */
/* *************** */

.page_container {
  display: flex;
  height: 100vh;
  width: 100vw;
  border: none;
  padding: 0.5% 2%;
  background-color: #2e2e2e;
}
.folder_structure {
  display: inline-block;
  height: 100%;
  width: 20%;
  background-color: #231f22;
  border-right: #bbbbbb 3px double;
  color: white;
  padding: 1%;
}
.editor_container {
  flex-grow: 1;
  flex-basis: 0;
  display: inline-block;
  height: 100%;
  width: 60%;
  /* background-color: hsl(225, 6%, 25%); */
  background-color: #2e2a2e;
}
.help_bar {
  display: inline-block;
  width: 5%;
  background-color: #222222;
  justify-content: space-between;
  flex-direction: column;
}
.help_btn_bar {
  height: 100vh;
  width: 5vw;
  background: transparent;
  padding: 2%;
  display: table-cell;
  text-align: center;
  vertical-align: bottom;
}

.help_home_btn {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}
button:focus {
  outline: none;
}

#editor_title {
  display: flex;
  justify-content: space-between;
  background-color: hsl(225, 6%, 13%);
  color: white;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}

.CodeMirror {
  min-height: 100% !important;
  font-family: "Space Mono", monospace;
  font-size: 16px;
}
.react-codemirror2 {
  height: 95%;
}

.code_mirror_wrapper {
  flex-grow: 1;
  line-height: 150%;
  margin: 0;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  overflow: hidden;
}
