.App {
  font-family: "PT Sans";
}
.react-icons {
  /* border: 2px solid rgba(0, 0, 0, 0.089); */
  margin:5px;
  height: 1.25em;
  width: 1.25em;
}
.titleFunction {
  visibility: hidden;
}
.title:hover .titleFunction {
  visibility: visible;
  position:absolute;
  margin: 15px;
  right:0px;
}
.titleName {
  margin: 15px;
}
.title {
  position: relative;
  width: 100%;
  min-height: 1em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.file{
  padding-left: 20px;
  display: flex;
  align-items: center;
}
.fileFocus{
  padding-left: 20px;
  display: flex;
  align-items: center;
  font-weight:bold;
}
.fileFocus .fileSpan{
  margin-left: 5px;
}
.fileFocus .fileSpan:hover{
  cursor:pointer;
  color:#1212FF;
}
.file .fileSpan{
  margin-left: 5px;
}
.file .fileSpan:hover{
  cursor:pointer;
  color:#1212FF;
}
.folder{
  padding-left: 20px;
}
.folder .folder--label {
  display: flex;
  align-items: center;
}
.folder .folder--label .folderSpan{
  margin-left: 5px;
}
