db.createUser(
    {
        user: "${MONGO_USERNAME}",
        pwd: "${MONGO_PASSWORD}",
        roles: [{
            role: "readWrite",
            db: "${MONGO_DATABASE}"
        }, {
            role: "readWrite",
            db: "session"
        }]
    }
)